@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');


html,
body {
 height: 100%;
 position: relative;
 background-color: #e4e0e0;
 background-image: url('/static/images/prints.png');
}

body {
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh; 
  margin:0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.020rem;
}

#content {
  flex: 1 0 auto; /* allows the content to grow but not shrink */
}

#header{
    top:0;
    position:sticky;
    margin-bottom: 8%;
    z-index: 2;
}


.nav-bar-col {
    background-color: #ffe26d;
    
}

.dark-blue {
    background-color: #333b5d;
}

.nav-bar-txt{
    color:#ffffff;
    position: absolute;
    display: inline-block;
    font-size: 2.5rem;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-right: 0.40%;
    padding-left: 0.60%;
}

.nav_item {
    font-size: 1.4rem;
}

.btn-style {
    background-color: #ffe26d;
    position: absolute; 
    bottom: 0px; 
    width: 100%;
    margin-right:0;
    font-weight: 700;
}

.btn-style:hover {
    background-color:  #333b5d;
}

form {
    margin-bottom: 10%;
}

.row {
  display: flex; 
}

.row.flush {
    margin: 0px;
}

.heading, .sub-heading {
    font-weight: 600;
    letter-spacing: 0.025rem;
    color:#333b5d;
    padding-bottom: 5%;
}

.sub-heading {
    padding-bottom: 0.5%;
}

.sm_img {
    width: 100px;
    height: auto;
    border-radius: 3px;
}

.align-center {
    text-align: center;
}

.form-popout {
    -moz-box-shadow: 0 0 3px rgb(43, 38, 38, 0.5);
    -webkit-box-shadow: 0 0 3px rgb(43, 38, 38, 0.5);
    box-shadow: 0 0 3px rgb(43, 38, 38, 0.5);
    overflow:hidden;
    position: relative;
    margin-bottom: 1.25%;
    background-color: #ffffff;
}

.profile-form {
    border-radius: 3%;
    margin: 3%;
}

.small-form {
    
    margin: 5rem 3rem 0rem 3rem;
}

.input-div:nth-last-child(2){
    padding-bottom: 8%;
}

.group-col {
    background-color: #fec2b3;
}

.login-dog {
    background-color:#e8e7dd;

}

.input-field, .form-indent, input[type=text]:not(.browser-default).form-indent, input[type=date]:not(.browser-default).form-indent, textarea.materialize-textarea {
    margin-right: 3rem;
    margin-left: 3rem;    
    margin-bottom: 1rem;
    width: 95%;
}

textarea.materialize-textarea {
    border: dashed yellow 1px;
}

input[type=date]:not(.browser-default).form-indent, .select-wrapper input.select-dropdown{
    width: 30%;

}

/* .prints {
    background-image:url('/static/images/prints.png');
    background-repeat: repeat;
    z-index: -1;
} */


.select-wrapper span.caret {
    display: none;
}

.img-wrapper {
    height: min-content;
    border: #333b5d solid 3px;
}
.profile-image {
    height: 50vh;
    width: 90%;
    object-fit: cover;
}


/* Overlays hidden by default */
#overlay_happy {
    display: none; 
}

#overlay_angry {
    display: none; 
}


.overlay {
    width: min-content;  
    top: 50%;
    left: 50%;
    background-color: rgba(223, 253, 250, 1);
    z-index: 2; 
    cursor: pointer; 
    position: fixed; 
}

.text_overlay {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay_img {
    width:60vh;
    height:auto;
    opacity: 100%;
}

.pup-profile {
    padding: 0.5rem;
}

.delete-page {
    background-color: #4cbf9a;
}

#footer{
-webkit-box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -1px 5px 0 rgb(0 0 0 / 12%), 0 -3px 1px -2px rgb(0 0 0 / 20%);
-moz-box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -1px 5px 0 rgb(0 0 0 / 12%), 0 -3px 1px -2px rgb(0 0 0 / 20%);
box-shadow: 0 -2px 2px 0 rgb(0 0 0 / 14%), 0 -1px 5px 0 rgb(0 0 0 / 12%), 0 -3px 1px -2px rgb(0 0 0 / 20%);
margin-bottom: 0;
margin-top: 5%;
}


.scrolling-wrapper-img, .scrolling-wrapper  {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  
}

.scrolling-wrapper-img {
  
  margin-bottom: 0.8rem;
  padding: 1rem;
}  

.card-scroll {
    object-fit: cover;
    width: auto;
    height:25vh;
    margin: 0.4rem;
    border-radius: 3%;
}

.comment-section{
    padding: 4%;
    margin-top: 0;
}

.edit-img {
    height: 15vh;
    object-fit: cover;
    width: auto;
}

.hidden {
    display: none;
}

