<div id="add_walk" class="modal">
    <div class="modal-content">
        <h2>Add Walk</h2>
        <h5>By adding a new walk it will delete your previous walk information</h5>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_walk', username=username)}}">

            <div class="form-left">
                <input type="date" id="walk_date" name="walk_date" class="validate" min="2021-03-29" onclick="walkDate()" required>
                <input type="time" id="time" name="time" class="validate" required>
            </div>
 
            <img src="{{ url_for('static', filename='images/dog-walk.gif') }}" alt="dog walking" class="form-right">

            <div class="form-bottom">
                <label for="place">Place</label>
                <input type="text" id="place" name="place" class="validate">

                <label for="walk_description">Description</label>
                <input type="text" id="walk_description" name="walk_description" class="validate">
                <button type="submit" class="col s12 btn btn-yellow">
                    Add Walk
                </button>
            </div>
        </form>
        <form method="POST" action="{{ url_for('remove_walk', username=username)}}">
                                <button type="submit" class="btn btn-yellow btn-red">Remove Walk</button>
                            </form>
    </div>
</div>