<div id="edit_profile" class="modal">
    <div class="modal-content">
        
        <div class="row">
            <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_profile', username=username) }}">
                <div class="card-panel">
                    <h3 class="heading">Edit {{ user_profile.dog_name }}'s Profile infomation</h3>
                    
                    <div class="row flush">
                        <div class="input-field col s12">
                            <input type="text" id="dog_name" name="dog_name" class="validate" min-length="2"
                                maxlength="15" pattern="^[a-zA-Z0-9]{2,15}$" value="{{user_profile.dog_name}}" required>
                            <label for="dog_name"  >Puppy Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="dog_location" name="dog_location" class="validate"
                                value="{{user_profile.dog_location}}" min-length="2" maxlength="40"
                                pattern="^[a-zA-Z0-9]{2,40}$">
                            <label for="dog_location">Home Town</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="dog_size">
                                <option value="{{user_profile.dog_size}}" selected>What is your Pup Size</option>
                                <option>Small</option>
                                <option>Medium </option>
                                <option>Large</option>
                            </select>
                            <label>Pup Size</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Is the pup Nutured/Spade</h6>
                            <div class="switch">
                                <label>
                                    No
                                    <input type="checkbox" name="fertile">
                                    <span class="lever"></span>
                                    Yes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Looking for Puppy Love</h6>
                            <div class="switch">
                                <label>
                                    No
                                    <input type="checkbox" name="puppy_love">
                                    <span class="lever"></span>
                                    WOOF WOOF
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="dog_description" type="text" name="dog_description"
                                class="validate materialize-textarea col s12" min-length="5" maxlength="100"
                                required>{{user_profile.dog_description}}</textarea>
                            <label for="dog_description">Bio</label>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="col s12 btn-large btn-yellow">
                            Update<i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_profile')}}"
                            class="modal-close waves-effect waves-green btn-flat">Do you need to remove this Pup?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>