<div id="edit_images" class="modal">
    <div class="modal-content">
        {% if session.user == username or session.user == "admin" %}
        {% if session.user == username %}
        <div id="upload_img">
            <div class="row">
                <ul class="collapsible col s12 flush" data-collapsible="accordion">
                    <li class="col s12">
                        <div class="collapsible-header">Upload New Image</div>
                        <div class="collapsible-body">
                            <h3>Upload New Image</h3>
                            <form action="{{ url_for('upload_image', username=username ) }}" method="POST"
                                enctype="multipart/form-data">
                                <input type="file" name="image_file" required />
                                <p>
                                    <input type="checkbox" id="profile_check" name="profile_check" />
                                    <label for="profile_check"> Make Profile Picture </label>
                                </p>
                                <button type="submit" class="btn btn-yellow">Upload</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <h3>Your Images</h3>
        <div class="col s12 m10 offset-m1">

            {% for image in user_profile.all_images  %}
            {% if session.user == username or session.user == "admin" %}
            <div class="card card__img">
                <div class="card-image">
                    <img src="{{image}}" alt="Image of your dog">
                    <div class="card-action">
                        <form method="POST" action="{{ url_for('profile_photo', username=username) }}">
                            {% if session.user == username  %}
                            <div class="row flush hidden">
                                <input type="radio" name="photo" value="{{image}}" class="images hidden" checked />
                            </div>
                            <button type="submit" class="row btn btn-yellow btn-small">Make Profile</button>
                            {% endif %}
                        </form>
                        <form method="POST" action="{{ url_for('delete_images', username=username) }}">
                            <div class="row flush">
                                <input type="radio" id="{{image}}" name="photo" value="{{image}}"
                                    class="images hidden sm-img" checked />
                            </div>
                            <button type="submit" class="row btn btn-yellow btn-red btn-small">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>

        {% else %}
        <div>
            <p>Bad Dog you can't edit another Pups Profile</p>
            <p><a href="{{url_for('profile', username=username)}}">Back to {{username}} Profile</a></p>

        </div>
        {% endif %}
    </div>
</div>