<div id="edit_human" class="modal">
    <div class="modal-content">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_human', username=username)}}">
            <h4>Edit Human Details</h4>
            <img src="{{ url_for('static', filename='images/human.gif') }}" alt="dog walking" class="form-right">
            <div class="form-left">
                <label for="human_name">Name</label>
                <input type="text" id="human_name" name="human_name" class="validate" minlength="2" maxlength="15"
                    pattern="^[a-zA-Z0-9]{2,15}$" value="{{user_profile.human_name}}" required>
            </div>
            <div class="form-bottom">
                <label for="human_description" class="bio-label">Description</label> 
                <textarea id="human_description" name="human_description"
                    class="validate materialize-textarea form-no-indent" minlength="5" maxlength="1000"
                    required>{{user_profile.human_description}}</textarea>
                <button type="submit" class="btn-large btn-yellow">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>