<div id="edit_profile" class="modal">
    <div class="modal-content">
        {% if session.user == username %}
        <div class="row">
            <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_profile', username=username) }}">
                <h3 class="heading">Edit {{ user_profile.dog_name }}'s Profile infomation</h3>

                <label for="dog_name">Puppy Name</label>
                <input type="text" id="dog_name" name="dog_name" class="validate" minlength="2" maxlength="15"
                    pattern="^[a-zA-Z0-9]{2,25}$" value="{{user_profile.dog_name}}" required>

                <label for="dog_location">Home Town</label>
                <input type="text" id="dog_location" name="dog_location" class="validate"
                    value="{{user_profile.dog_location}}" minlength="2" maxlength="40"
                    pattern="^[a-zA-Z0-9\s/g]{2,40}$">

                <label>Pup Size</label>
                <select name="dog_size" size="4" required>
                    <option value="{{user_profile.dog_size}}" selected>{{user_profile.dog_size}}</option>
                    <option>Small</option>
                    <option>Medium </option>
                    <option>Large</option>
                </select>
                <p>Is the pup Nutured/Spade</p>
                <div class="switch">
                    <label>
                        No
                        {% if user_profile.fertile %}
                        <input type="checkbox" name="fertile" checked>
                        {% else %}
                        <input type="checkbox" name="fertile">
                        {% endif %}
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
                <p>Looking for Puppy Love</p>
                <div class="switch">
                    <label>
                        No
                        {% if user_profile.puppy_love %}
                        <input type="checkbox" name="puppy_love" checked>
                        {% else %}
                        <input type="checkbox" name="puppy_love">
                        {% endif %}
                        <span class="lever"></span>
                        WOOF WOOF
                    </label>
                </div>
                <label for="dog_description" class="bio-label">Bio</label>
                <textarea id="dog_description" name="dog_description"
                    class="validate materialize-textarea form-no-indent" minlength="5" maxlength="1000"
                    required>{{user_profile.dog_description}}</textarea>
                <button type="submit" class="col s12 btn-large btn-yellow">
                    Update
                </button>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_profile', username=username)}}"
                        class="modal-close waves-effect waves-green btn-flat">Remove Pup?</a>
                </div>
            </form>
        </div>
        {% else %}
        <div>
            <p>Bad Dog you can't edit another Pups Profile</p>
            <p><a href="{{url_for('profile', username=username)}}">Back to {{username}} Profile</a></p>

        </div>
        {% endif %}
    </div>
</div>