{% extends "base.html" %}
{% block title %}500{% endblock %}


{% block content %}
<div class="error-page">
    <div class="row">
        <div class="s8 col">
            <h1>500</h1>
            <h3>Profile incomplete</h3>
            <h4>Looks this profile is either deactivated or incomplete. If this is your profile please head back to build profile to finish setting up your account. </h4>
            <a class="btn btn-yellow" href="{{ url_for('build_profile', username=session['user'])}}">Build Profile</a>
                {% if session['user'] %}
                    <a href="{{ url_for('profile', username=session['user'])}}" class="btn btn-yellow">Back to my profile</a>
                {% else %}
                    <a href="{{ url_for('homepage')}}" class="btn btn-yellow">Back to the homepage</a>
                {% endif %}
        </div>
        <img src="{{ url_for('static', filename='images/barking.jpg') }}" class="align-right s4 col">
    </div>
</div>





{% endblock %}