{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <h3 class="bold">Search for you playmates</h3>
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Puppys</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('all_users') }}" class="red btn ">Reset</a>
                <button type="submit" class="btn-yellow btn">
                    Search
                </button>
            </div>
        </div>
    </form>
    <div class="user-list">
        {% for user in users %}
            <div class="user-cards card">
                    <!--Inline style for allocation of background-image for each card in loop -->
                <div class="valign-wrapper user-cards__image" style="background-image: url('{{ user.image_url }}')">
                    <img src="{{ user.image_url }}" alt="Image of {{ user.dog_name}}" class="sm_img">
                </div>
                <div class="content">
                        <h5><a href="{{url_for('profile', username=user.username)}}">{{ user.dog_name }}</a></h5>
                    <p>{{ user.dog_description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}