<!doctype html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} </title>
    {% endblock %}
</head>

<body>
    <!-- Nav -->
    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Puppy Playmates</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if session.user %}
                    <li><a href="{{ url_for('buildprofile', username=session['user'])}}">Profile</a></li>
                    <li><a href="#">Potential Playmates</a></li>
                    <li><a href="#">Woof Chat</a></li>
                    <li><a href="{{ url_for('logout')}}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login')}}">Login</a></li>
                    <li><a href="{{ url_for('register')}}">Register</a></li>
                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    {% if session.user %}
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Potential Playmates</a></li>
                    <li><a href="#">Woof Chat</a></li>
                    <li><a href="{{ url_for('logout')}}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login')}}">Login</a></li>
                    <li><a href="{{ url_for('register')}}">Register</a></li>
                    {% endif %}
                </ul>            
                <ul class="tabs tabs-transparent">
                    <li><a href="{{ url_for('buildprofile', username=session['user'])}}">Profile</a></li>
                    <li class="tab"><a class="active" href="#test2">Edit Prefences</a></li>
                    <li class="tab"><a href="#test3">Update Human Details</a></li>
                    <li class="tab"><a href="#test4">Test 4</a></li>
                </ul>
            </div>
        </nav>    

    </header>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <!--Footer-->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">PuppyPlaymates</h5>
                        <p class="grey-text text-lighten-4">Company moto here </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Report User</a></li>
                            {% if session.user %}
                            <li><a class="grey-text text-lighten-3" href="#!">Sign Out</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">WoofChat</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Security</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Update Account</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Edit Preferences</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Delete Account</a></li>
                            {% else%}
                            <li><a class="grey-text text-lighten-3" href="#!">Sign In</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p class="grey-text text-lighten-4 right" href="#!">Copyright 2021<a
                            href="https://github.com/crypticCaroline" target="_blank">Rebecca Kelsall</a></p>
                </div>
            </div>
        </footer>
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>