{% extends "base.html" %}
{% block title %}Building Profile{% endblock %}

{% block content %}
{% if session.user == user.username %}
<div class="container">
    <div class=" form-popout">
        <h3 class="align-center col s12 heading">Build Profile</h3>
        <p class="align-center">Please do not leave this page until completed</p>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <p class="center-align col s12">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith%}
        <!-- Form for Building Profile -->
        <form class="col s12 m8 offset-m2" method="POST"
            action="{{ url_for('build_profile', username=session['user']) }}">
            <div class="small-form">
                <div class="row flush">
                    <div class="input-field col s12">
                        <input type="text" id="dog_name" name="dog_name" class="validate form-indent" minlength="2"
                            maxlength="35" pattern="^[a-zA-Z0-9\s/g]{2,35}$" value="{{user.dog_name}}" required>
                        <label for="dog_name" class="form-indent">Puppy Name</label>
                    </div>
                </div>
                <div class="row flush">
                    <div class="input-field col s12">
                        <input id="dog_breed" type="text" name="dog_breed" class="validate form-indent"
                            value="{{user.dog_breed}}" minlength="3" maxlength="30">
                        <label for="dog_breed" class="form-indent">Breed</label>
                    </div>
                </div>
                <div class="row flush">
                    <div class="input-field col s12">
                        <input type="text" id="dog_location" name="dog_location" class="validate form-indent"
                            value="{{user.dog_location}}" minlength="2" maxlength="40"
                            pattern="^[a-zA-Z0-9\s/g]{2,40}$">
                        <label for="dog_location" class="form-indent">Home Town</label>
                    </div>
                </div>
                <div class="row flush">
                    <div class="col s12 ">
                        <label for="dog_size" class="form-indent">Size of Dog</label>
                        <select name="dog_size" id="dog_size" class="form-indent">
                            <option selected>Small</option>
                            <option>Medium </option>
                            <option>Large</option>
                        </select>
                    </div>
                </div>
                <div class="row flush">
                    <div class="form-indent col s12">
                        <label for="dog_dob" class="form-indent">Date of Birth</label>
                    </div>
                </div>
                <div class="row flush">
                    <div class="form-indent col s12">
                        <input id="dog_dob" name="dog_dob" type="date" class="validate form-indent"
                            value="{{ user_dog_dob }}" onclick="dogDob()" required>
                    </div>
                </div>
                <div class="row flush">
                    <div class="form-indent col s12">
                        <p class="form-indent">Gender</p>
                    </div>
                </div>

                <div class="row flush">
                    <p class="col s12 form-indent">
                        {% if user.dog_gender == Female %}
                        <input type="radio" id="dog_gender_f" name="dog_gender" class="with-gap form-indent"
                            value="Female" checked required>
                        {% else %}
                        <input type="radio" id="dog_gender_f" name="dog_gender" class="with-gap form-indent"
                            value="Female" required>
                        {% endif %}

                        <label for="dog_gender_f" class="form-indent">Female</label>
                    </p>
                </div>
                <div class="row flush">
                    <p class="col s12 form-indent">
                        {% if user.dog_gender == Male %}
                        <input type="radio" id="dog_gender_m" name="dog_gender" class="with-gap form-indent"
                            value="Male" checked>
                        {% else %}
                        <input type="radio" id="dog_gender_m" name="dog_gender" class="with-gap form-indent"
                            value="Male" checked>
                        {% endif %}
                        <label for="dog_gender_m" class="form-indent">Male</label>
                    </p>
                </div>
                <div class="row flush">
                    <div class="col s12 form-indent">
                        <p class="form-indent">Is the pup Nutured/Spade</p>
                        <div class="switch form-indent">
                            <label>
                                No
                                {% if user.fertile %}
                                <input type="checkbox" name="fertile" checked>
                                {% else %}
                                <input type="checkbox" name="fertile">
                                {% endif %}
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row flush">
                    <div class="col s12 form-indent">
                        <p class="form-indent">Looking for Puppy Love</p>
                        <div class="switch form-indent">
                            <label>
                                No
                                {% if user.puppy_love %}
                                <input type="checkbox" name="puppy_love" checked>
                                {% else %}
                                <input type="checkbox" name="puppy_love">
                                {% endif %}
                                <span class="lever"></span>
                                WOOF WOOF
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row flush">
                    <div class=" col s12 form-indent">
                        <label for="dog_description" class="form-indent">Dog Bio</label>
                        <textarea id="dog_description" name="dog_description"
                            class="validate materialize-textarea form-indent" minlength="5" maxlength="1000"
                            required>{{user.dog_description}}</textarea>
                    </div>
                </div>
                <div class="row flush">
                    <div class="input-field col s12 human-name">
                        <input type="text" id="human_name" name="human_name" class="validate form-indent" minlength="2"
                            maxlength="35" pattern="^[a-zA-Z0-9\s/g]{2,35}$" value="{{user.human_name}}" required>
                        <label for="human_name" class="form-indent">Human's Name</label>
                    </div>
                </div>
                <div class="row flush">
                    <div class=" col s12 form-indent">
                        <label for="human_description" class="form-indent">Human Bio</label>
                        <textarea id="human_description" name="human_description"
                            class="validate materialize-textarea form-indent" minlength="5" maxlength="1000"
                            required>{{user.human_description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row flush">
                <button type="submit" class=" btn-large btn-style btn-yellow align-center col s12">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% else %}
<p>Bad Dog you can't edit another Pups Profile</p>
<a href="{{url_for('profile', username=username)}}">Back to {{username}} Profile</a>
{% endif %}

{% endblock %}