{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class=" form-popout">
        <div class="row flush">
            <div class="col hide-on-small-only m5 change-password valign-wrapper">
                <div class="row">
                    <img src="{{ url_for('static', filename='images/reset.gif') }}"
                        alt="Gif of dog"
                        class="align-center col s12 m10 offset-m1">
                </div>
            </div>
            <div class="col s12 m7">
                <h3 class="align-center sub-heading">Change Password</h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="flashes">
                                <p class="center-align">{{ message }}</p>
                            </div>
                        {% endfor %}
                {% endif %}
                {% endwith%}
                <form method="POST" action="{{ url_for('change_password')}}">
                    {% if not session %}
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="username" class="validate" minlength="5"
                                maxlength="20" pattern="^(?=.*[A-Za-z])[a-zA-Z0-9/][^\s*]{4,20}" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="current-password" type="password" name="current-password" autocomplete="current-password" class="validate" minlength="2"
                                 maxlength="30" required>
                            <label for="current-password">Current Password</label>
                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="new-password" type="password" name="new-password" class="validate" minlength="8"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])[A-Za-z\d@$!%*-_#?&]{8,30}$" autocomplete="new-password" maxlength="30" required>
                            <label for="new-password">New Password</label>

                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="repeat-password" type="password" name="repeat-password" class="validate" minlength="8"
                                 maxlength="30" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])[A-Za-z\d@$!%*-_#?&]{8,30}$" required>
                            <label for="repeat-password">Repeat Password</label>

                        </div>
                    </div>
                    <div class="row flushh input-div">
                        <p class="col s12"><small>Passwords must be at least 8 characters long and include a mixture of
                                numbers, letters and one of the following special character - @$!%-_*#?&</small></p>
                    </div>
                    {% if not session %}
                    <div class="row flush input-div">
                        <a href="{{url_for('reset_password')}}" class="col s12">I've forgotten my password</a>
                    </div>
                    {% endif %}
                    <div class="row">    
                        <button type="submit" class=" btn-large btn-style btn-yellow align-center col s12 m7">
                            Login
                        </button>
                    </div>           
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}