{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h2 class="heading align-center">Welcome back!</h2>
    <div class=" form-popout">
        <div class="row flush">
            <div class="col s3 m5 login-dog valign-wrapper">
                <div class="row">
                    <img src="{{ url_for('static', filename='images/reset.gif') }}"
                        class="align-center col s12 m10 offset-m1">
                </div>
            </div>
            <div class="col s9 m7">
                <h3 class="align-center sub-heading">Change Password</h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row flashes">
                                <p class="center-align">{{ message }}</p>
                            </div>
                        {% endfor %}
                {% endif %}
                {% endwith%}
                <form method="POST" action="{{ url_for('change_password')}}">
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="username" class="validate" min-length="5"
                                maxlength="15" pattern="^[a-zA-Z0-9 !?/]]{5,15}$" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="current-password" type="password" name="current-password" class="validate" min-length="5"
                                 maxlength="15" required>
                            <label for="current-password">Current Password</label>
                        </div>
                    </div>

                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="new-password" type="password" name="new-password" class="validate" min-length="5"
                                pattern="^[a-zA-Z0-9]{5,15}$" maxlength="15" required>
                            <label for="new-password">New Password</label>

                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="repeat-password" type="password" name="repeat-password" class="validate" min-length="5"
                                 maxlength="15" required>
                            <label for="repeat-password">Repeat Password</label>

                        </div>
                    </div>
                    {% if not session %}
                    <div class="row flush input-div">
                        <a href="{{url_for('reset_password')}}" class="col s12">I've forgotten my password</a>
                    </div>
                    {% endif %}
                    <div class="row">    
                        <button type="submit" class=" btn-large btn-style btn-yellow align-center col s9 m7">
                            Login
                        </button>
                    </div>           
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}