{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class=" form-popout">
        <h2 class="heading align-center">Contact Us</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flashes">
        <p class="center-align">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith%}
        <div class="row flush">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact_us')}}">
                <p>Send us a message and we will endevour to get back to you within 2 working days</p>
                <div class="row">
                    <div class="col s12 input-field">
                        <input type="email" id="email" name="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="message-text" type="text" name="message-text"
                            class="materialize-textarea validate" minlength="20" required></textarea>
                        <label for="message-text">Message</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="submit" class=" btn btn-yellow col s12">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}