{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="homepage-wrapper">
<div class="homepage">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <h4 class="center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith%}

    <div class="row">
        <div class="col s12 l6 offset-l6 landing-card">
            <h2>Ready to find your Pup some playmates?</h2>
            <p>Welcome to PuppyPlaymates, your dogs own playmate finding social</p>
        </div>
    </div>
</div>
<div class="about text-block">
    <div class="container">
        <h4 class="heading">What is PuppyPlaymates
        </h4>
        <h5>Here at PuppyPlaymates we wanted to create a way for dogs to find puppy love </h5>
        <p>Forget your conventional forms of social media and dating websites. We have created a way for dogs of all ages
            to meet online, to let other owners know when and where they are next walking their dog, to add photos and
            to comment on each others profiles.</p>
        <p>You can set your dogs profile to show whether you are looking for plantonic playmates or looking
            for a soulmate for your pup!</p>
    </div>

</div>
</div>
<div class="get-started text-block">
    <div class="container">
        <h4 class="heading">Ready to get started?</h4>
        <h5>Create an account and start your pups journey to a life full of playmates </h5>
        <ul class="intro-list">
            <li>Click the register button and set your username (This is for you as the owner, you will be able to add your
                    dogs name later)</li>
            <li>Build your dogs profile! Let other owners know if you are looking for Puppy Love or just Playmates. You
                will be asked whether your dogs has been spade/neutered</li>
            <li>Upload photos of your dog so other users know who to look out for in the park</li>
            <li>Add your next walk details so if other users are in your area they can coincide their dogs playtime</li>
            <li>Start looking for playmates and start liking profiles so they appear in the dogs you admire section of
                your profile</li>
            <li>Add comments to your own and other users profile. You can make these private so only you and the profile
                you are on can see them</li>
            <li>If you are ever worried about another user you can report them using the link at the bottom of the
                webpage</li>
        </ul>
        <h6>Still not sure? Check out our current users</h6>
        <a href="{{ url_for('playmates')}}" class="btn-yellow btn-large btn-space">Playmates</a>
    </div>
</div>
{% endblock %}