{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row flashes">
                <p class="center-align">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith%}
<img src="{{ url_for('static', filename='images/login.gif') }}" class="align-right s4 col">
<button class="btn"><a href="{{ url_for('all_users')}}">Playmates</a></button>

{% endblock %}