{% extends "base.html" %}
{% block title %}Playmates{% endblock %}

{% block content %}
<div class="container form-popout">
    <div class="search-heading">
        <h3 class="heading center-align ">Playmates</h3>
        <p class="center-align">Take a look at all the different pups looking for playmates</p>
    </div>
    <div class="profile-items search-wrapper">
        <form action="{{ url_for('search') }}" method="post">
            <div id="search-bar" class="input-field no-indent">
                <label for="query">Search Puppys</label>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
            </div>
            <p>You can search for any dog by breed, size, location, gender and name</p>
            <button type="submit" class="btn-yellow btn btn-med">
                Search
            </button>
            <a href="{{ url_for('playmates') }}" class="btn btn-yellow btn-red btn-med">Reset</a>
        </form>
    </div>

    <div class="user-list" id="user-container">
        {% if users %}
        {% for user in users | reverse %}
        <!-- stops are card being rendered if the dog has no name -->
        {% if user.dog_name %}
        <div class="user-cards card">
            <!--Inline style for allocation of background-image for each card in loop -->
            <div class="valign-wrapper user-cards__image" style="background-image: url('{{ user.image_url }}')">
                <a href="{{url_for('profile', username=user.username)}}" aria-label="Link to {{user.dog_name}} profile">
                    <img src="{{ user.image_url }}" alt="Image of {{ user.dog_name}}" class="sm_img">
                </a>
            </div>

            <div class="content">
                <a href="{{url_for('profile', username=user.username)}}">
                    <p class="small-header">{{ user.dog_name }}</p>
                    <p class="bio-overflow">{{ user.dog_description }}</p>
                    {% if user.puppy_love %}
                    <p><i class="fas fa-heart "></i></p>
                    {% endif %}
                    {% if user.fertile %}
                    <p><i class="fas fa-cut "></i></p>
                    {% endif %}
                    <p>{{user.dog_gender}}</p>
                    <p>{{user.dog_location}}</p>
                </a>
            </div>
        </div>

        {% endif %}
        {% endfor %}
        <a href="#" id="loadMore" class="btn btn-yellow">Show More</a>
        <p class="totop">
            <a href="#top" id="top-toggle"><i class="fas fa-arrow-circle-up"></i></a>
        </p>
        {% else %}
        <div class="form-bottom">
            <h5 class="center-align">No users matching your search</h5>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}