{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<!-- Hidden overlays for like/dislike function -->
<div id="overlay_happy" class="overlay">
    <div class="row">
        <div class="text_overlay center-align">
            <img src="{{ url_for('static', filename='images/happy-dog.gif') }}" class="overlay_img center-align"
                alt="gif of happy dog">
        </div>
    </div>
</div>
<div id="overlay_angry" class="overlay">
    <div class="text_overlay center-align">
        <img src="{{ url_for('static', filename='images/sad-dog.gif') }}" class="overlay_img center-align"
            alt="gif of sad dog">
    </div>
</div>

<!-- profile section -->
<div class="container pup-profile form-popout">
    <div class="row">
        <div class="col s12">
            <!-- Profile form -->
            <div class="row">
                <!-- Name and like button -->
                <div class=" col s12">
                    <!-- Flash messages -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="row flashes">
                        <h5 class="center-align col s12">{{ message }}</h5>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% if user_profile.dog_name == "" and username == session['user'] %}
                    <h3 class="  profile-heading heading col s12 center-align ">You haven't
                        finished building your profile please do so now</h3>
                        <a class="btn btn-yellow" href="{{ url_for('build_profile', username=session['user'])}}">Build
                            Profile</a>
                    <p>You won't appear in the search as a playmate until your profile is complete</p>
                    {% else %}
                    <h2 class="  profile-heading heading col s8 push-s2 center-align ">{{ user_profile.dog_name}}</h2>
                    {% endif %}
                    {% if session.user != username %}
                    {% if dog_like %}
                    <form method="POST" action="{{ url_for('profile', username=username) }}" id="form_dislike">
                        <button type="submit" class="btn-yellow btn col s3 l1 push-l1" value="unlike" id="unliker_btn"
                            name="unliker_btn" onclick="overlayAngry()">Unlike</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{{ url_for('profile', username=username) }}" id="form_like">
                        <button type="submit" class="btn-yellow btn col s3 l1 push-l1" value="like" id="liker_btn"
                            name="liker_btn" onclick="overlayHappy()">Like</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
                <!-- checks if its the dogs birthday -->
                {% if birthday %}
                <div class="col s1">
                    <p><i class="fas fa-birthday-cake birthday"></i></p>
                </div>
                {% endif %}
            </div>
            <!-- Profile picture and info -->
            <div class="col s12 l6">
                <div class="row">
                    <div class="col s12">
                        <div class="profile-wrapper">
                            {% if username == session['user'] %}
                            <a data-target="edit_images" data-toggle="modal" class="modal-trigger"><img
                                    src="{{ user_profile.image_url }}" alt="Image of {{ user_profile.dog_name}}"
                                    class="profile-image"></a>

                            {% else %}
                            <img src="{{ user_profile.image_url }}" alt="Image of {{ user_profile.dog_name}}"
                                class="profile-image">
                            {% endif %}
                            <!-- Dog info -->
                            <div class="profile-items-wrapper">
                                <h5 class="profile-items">Bio </h5>
                                <p class="bio">{{ user_profile.dog_description}}</p>
                                <p><span class="profile-items">Breed: </span>{{ user_profile.dog_breed}}</p>
                                <p><span class="profile-items">Gender: </span>{{ user_profile.dog_gender}}</p>
                                <p><span class="profile-items">Location: </span>{{ user_profile.dog_location}}</p>
                                <p><span class="profile-items">Size: </span> {{ user_profile.dog_size }}</p>
                                <p><span class="profile-items">Age: </span>{{ age }}</p>
                                {% if not user_profile.puppy_love %}
                                <p><span class="profile-items">Seeking: </span> Platonic Playmates Only</p>
                                {% else %}
                                <p><span class="profile-items">Seeking: </span>Puppy Love <i class="far fa-heart "></i>
                                </p>
                                {% endif %}
                                {% if user_profile.fertile %}
                                <p><span class="profile-items">Dog Bits: </span>I have had the snip <i
                                        class="fas fa-cut "></i></p>
                                {% else %}
                                <p><span class="profile-items">Dog Bits: </span>I've still got all my puppy making parts
                                </p>
                                {% endif %}
                                {% if session.user == username %}
                                <a data-target="edit_profile" class="modal-trigger btn btn-yellow right-align"
                                    data-toggle="modal" href="#edit_profile">Edit Puppy</a>
                                {% endif %}
                            </div>
                            <!-- Human info -->
                            <div class="profile-items-wrapper">
                                <h5 class="profile-items">My Human</h5>
                                {% if user_profile.human_name %}
                                <p><span class="profile-items">Name: </span>{{ user_profile.human_name }}</p>
                                {% else %}
                                <p><span class="profile-items">Name: </span></p>
                                {% endif %}
                                {% if user_profile.human_description  %}
                                <p><span class="profile-items">About: </span>{{ user_profile.human_description }}</p>
                                {% else %}
                                <p><span class="profile-items">About: </span></p>
                                {% endif %}
                                <p><span class="profile-items">Username: </span><em>{{ user_profile.username}}</em></p>
                                {% if session.user == username %}
                                <a data-target="edit_human" data-toggle="modal"
                                    class="modal-trigger btn btn-yellow right-align" href="#edit_human">Update Human</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Walk/admirers/pictures-->
            <div class="col s12 l6 ">
                <!-- walk information -->
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 profile-wrapper profile-items-wrapper">
                            <h4>The Next Walk with {{user_profile.dog_name}}</h4>
                            {% if session.user == username %}
                            <p>Add a walk to let people know where you are next taking {{user_profile.dog_name}} out
                                <small>When you add a new walk the previous walk and comments will be
                                    replaced</small>
                            </p>
                            {% else %}
                            <p>Like the look of this walk? Add a comment and let {{user_profile.dog_name}} know that
                                {{user_session.dog_name}} will be joining</p>
                            {% endif %}
                            {% if session.user == username%}
                            <a data-target="add_walk" data-toggle="modal" class="modal-trigger btn btn-yellow"
                                href="#add_walk">
                                Add Walk</a>
                            {% endif %}

                            {% if user_profile.next_walk.place != "" %}
                            <p><span class="profile-items">Date:
                                </span>{{user_profile.next_walk.date.strftime('%d-%m-%y')}}</p>
                            <p><span class="profile-items">Time: </span>{{user_profile.next_walk.time}}</p>
                            <p><span class="profile-items">Place: </span>{{user_profile.next_walk.place}}</p>
                            <p><span class="profile-items">Description:
                                </span>{{user_profile.next_walk.walk_description}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- pictures -->
                    <div class="row">
                        <div class="col s12 profile-items-wrapper profile-wrapper">
                            <div class="row">
                                <h4 class="col">{{ user_profile.dog_name}}'s Photos</h4>
                            </div>
                            {% if session.user == username %}
                            <a data-target="edit_images" data-toggle="modal" class="modal-trigger btn btn-yellow "
                                href="#edit_images">Edit Images</a>
                            {% endif %}
                            <div class="scrolling-wrapper-img">
                                {% if not user_profile.all_images %}
                                <p>Looks like there are no photos uploaded just yet</p>
                                {% endif %}
                                {% for image in user_profile.all_images  %}
                                <a class="modal-trigger" href="#modal{{image}}"><img src="{{image}}"
                                        alt="Image of {{ user_profile.dog_name}}" class="card-scroll"></a>

                                {% endfor %}
                            </div>
                            {% for image in user_profile.all_images %}
                            <div id="modal{{image}}" class="modal">
                                <div class="modal-content">
                                    <div class="container">
                                        <img src="{{image}}" alt="Image of {{ user_profile.dog_name}}"
                                            class="modal-image">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Admire/Liked -->
                    <div class="row">
                        <div class="col s12 profile-items-wrapper profile-wrapper">
                            <div class="col s12">
                                <h5 class="profile-items">Admirers <i class="fas fa-heart"></i></h5>
                                <div class="admirers-section">
                                    {% for liker in user_profile.dog_liker %}
                                    {% if liker.dog_name == "Puppy Playmates" %}
                                    {% else %}
                                    <div class="chip">
                                        <img src="{{liker.image_url}}" alt="">
                                        <a href="{{url_for('profile', username=liker.username)}}">{{liker.dog_name}}</a>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class=" col s12">
                                <h5 class="profile-items">Pups I Love <i class="fas fa-heart"></i></h5>
                                <div class="admirers-section">
                                    {% for my_likes in user_profile.dogs_liked %}
                                    <div class="chip">
                                        <img src="{{my_likes.image_url}}" alt="">
                                        <a
                                            href="{{url_for('profile', username=my_likes.username)}}">{{my_likes.dog_name}}</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comments section -->
            <div class="col s12">
                <div class="row">
                    <div class=" col s12 comment-section">
                        <h4 class="profile-items heading center-align">Comments</h4>
                        <p class="center-align">Add a comment to {{user_profile.dog_name}} profile</p>
                        <!-- Add comments  -->
                        <div class="row">
                            <div class="col s12 comment-area">
                                <form method="POST" action="{{ url_for('add_comment', username=username) }}"
                                    class="comments add-comment">
                                    <div class="input-field col s12">
                                        <textarea type="text" id="add_comment" name="add_comment"
                                            class="materialize-textarea" min-length="2" maxlength="2500"
                                            placeholder="Add Comment" required></textarea>
                                    </div>
                                    <div class="add-comment col s12">
                                        <input type="checkbox" id="private" name="private" />
                                        <label for="private">Make Private</label>
                                    </div>
                                    <button type="submit" class="btn btn-yellow btn-add">Add</button>
                                </form>
                            </div>
                        </div>
                        <!-- All comments  ADD DELETE BUTTON FOR USERS -->
                        <div class="row">
                            <ul class="col s12 comment-area">
                                {% for comments in user_profile.comments | reverse %}
                                <li class="comments">
                                    <div class="comment-image valign-wrapper"
                                        style="background-image: url('{{ comments.img_url }}')">
                                        <a href="{{url_for('profile', username=comments.author)}}">
                                            <img src="{{ comments.img_url }}" alt="Image of {{ comments.dog_name}}">
                                        </a>
                                    </div>
                                    <!-- build for private message -->
                                    {% if comments.private %}
                                    {% if comments.author == session['user'] or user_profile.username == session['user'] %}
                                    <div class="comment-content">
                                        <!-- If the author of the post -->
                                        <!-- Modal Trigger -->
                                        <div class="comment-btn-wrapper">
                                            {% if comments.author == session['user'] %}
                                            <a class="waves-effect waves-light btn-yellow btn-edit modal-trigger"
                                                href="#modal{{comments}}"><i class="fas fa-pencil-alt"></i></a>

                                            {% endif %}
                                            <!-- If the profile owner or author-->
                                            <a class="waves-effect waves-light btn btn-yellow btn-red btn-edit modal-trigger"
                                                href="#modal_delete{{comments}}"><i class="fas fa-trash"></i></a>
                                        </div>
                                        <p>{{comments.text}}</p>
                                        <p><small><a
                                                    href="{{url_for('profile', username=comments.author)}}">{{comments.author}}({{comments.author_dog}})</a>
                                                {{comments.date}}</small></p>
                                        <p><small>This message is private only the author and
                                                {{user_profile.dog_name}}'s
                                                owner can see it</small></p>

                                    </div>
                                    {% endif %}
                                    <!-- build for standard message -->
                                    {% else %}
                                    <div class="comment-content">
                                        <!-- if the author of the post -->
                                        <!-- Modal Trigger -->
                                        <div class="comment-btn-wrapper">
                                            {% if comments.author == session['user'] %}
                                            <a class="waves-effect waves-light btn btn-yellow btn-edit modal-trigger"
                                                href="#modal{{comments}}"><i class="fas fa-pencil-alt"></i></a>

                                            {% endif %}
                                            <!-- If the profile owner -->
                                            {% if username == session['user'] or comments.author == session['user'] %}

                                            <a class="waves-effect waves-light btn btn-yellow btn-red btn-edit modal-trigger"
                                                href="#modal_delete{{comments}}"><i class="fas fa-trash"></i></a>
                                            {% endif %}
                                        </div>

                                        <p>{{comments.text}}</p>
                                        <p><small>
                                                <a href="{{url_for('profile', username=comments.author)}}">
                                                    {{comments.author}}({{comments.author_dog}})</a>
                                                {{comments.date}}
                                            </small></p>
                                    </div>
                                    {% endif %}

                                </li>
                                {% if comments.author == session['user'] or user_profile.username == session['user'] %}
                                <!-- Modal Structure -->
                                <div id="modal{{comments}}" class="modal">
                                    <div class="modal-content">
                                        <form method="POST"
                                            action="{{ url_for('edit_comment', username=username, comment_id=comments._id)}}">
                                            <h2>Edit Comment </h2>

                                            <div class="input-field">
                                                <input type="text" id="date" name="edit_comment" class="validate"
                                                    value="{{comments.text}}" required>
                                            </div>
                                            <button type="submit" class="btn btn-yellow">
                                                Update
                                            </button>
                                        </form>
                                        <p>This will permentally delete this message</p>
                                        <form method="POST"
                                            action="{{ url_for('delete_comment', username=username, comment_id=comments._id)}}">
                                            <button type="submit" class="btn btn-yellow btn-red">Delete</button></form>
                                    </div>
                                </div>

                                <div id="modal_delete{{comments}}" class="modal">
                                    <div class="modal-content">
                                        {% if not comments.author == session['user']%}
                                        <h4>Do you need to report this user?</h4>
                                        <h5>If you feel uncomfortable or you believe this user has violated our safe
                                            spaces policy please head to our report page, if you just don't want the
                                            comment on your feed please click the delete button</h5>
                                        <a href="{{ url_for('report_user')}}" class="btn btn-yellow">Report</a>
                                        {% endif %}
                                        <p>Click the delete button to permentally remove this comment</p>
                                        <form method="POST"
                                            action="{{ url_for('delete_comment', username=username, comment_id=comments._id)}}">
                                            <button type="submit" class="btn btn-yellow btn-red">Delete</button></form>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "includes/add_walk.html" %}
{% include "includes/edit_images.html" %}
{% include "includes/edit_human.html" %}
{% include "includes/edit_profile.html" %}


{% endblock %}