{% extends "base.html" %}
{% block title %}Not Found{% endblock %}


{% block content %}
<div class="notfound-page">
    <div class="row">
        <div class="s8 col">
            <h1>Profile not found</h1>
            <h3 class="error">
                This profile doesn't exist with this username, it may be that the profile has been deactivated
            </h3>
            {% if session['user'] %}
            <a href="{{ url_for('profile', username=session['user'])}}" class="btn btn-yellow">Back to my profile</a>
            {% else %}
            <a href="{{ url_for('homepage')}}" class="btn btn-yellow">Back to the homepage</a>
            {% endif %}
        </div>
        <img src="{{ url_for('static', filename='images/delete-dog.gif') }}" class="align-right s4 col" 
        alt="Gif of dog">
    </div>
</div>





{% endblock %}