{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class=" form-popout">
        <div class="row flush">
            <div class="col hide-on-small-only m5 group-col valign-wrapper">
                <div class="row">
                    <img src="{{ url_for('static', filename='images/group-dogs.gif') }}"
                        class="align-center col s12 m10 offset-m1">

                </div>
            </div>
            <div class="col s12 m7">
                <h3 class="align-center heading">Create Account</h3>
                <p><small>Please create a username and password for yourself, you will be able to add your dogs name in
                        a moment</small></p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row flashes">
                                <h5 class="center-align col s12">{{ message }}</h5>
                            </div>
                        {% endfor %}
                {% endif %}
                {% endwith%}
                <form method="POST" action="{{ url_for('register')}}">
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="username" class="validate" minlength="5"
                                maxlength="20" pattern="^(?=.*[A-Za-z])[a-zA-Z0-9!?/][^\s*]{4,20}$" title="Your username can't include any blank spaces and must be at least 4 characters long" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12 ">
                            <input type="email" id="email" name="email" class="validate" required>
                            <label for="username">Email</label>
                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate" min-length="5"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])[A-Za-z\d@$!%-_*#?&]{8,30})$" maxlength="30" required>
                            <label for="password">Password</label>

                        </div>
                    </div>

                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="repeat-password" type="password" name="repeat-password" class="validate"
                                min-length="5" pattern="^^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])[A-Za-z\d@$!%*-_#?&]{8,30}$" maxlength="30"  title="Passwords must be at least 8 characters long and include a mixture of
                                numbers, letters and one of the following special character - @$!%*_-#?&" required>
                            <label for="password">Repeat Password</label>

                        </div>
                    </div>
                    <div class="row flush input-div">
                        <p class="col s12"><small>Passwords must be at least 8 characters long and include a mixture of
                                numbers, letters and one of the following special character - @$!%*_-#?&</small></p>
                    </div>

                    <div class="row">
                        <button type="submit" class=" btn-large btn-style btn-yellow align-center col s12 m7">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col s12 align-center "><a href="{{ url_for('login')}}" class="align-center">Already have an
                account?</a></p>
    </div>
</div>
{% endblock %}