{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class=" form-popout">
        <div class="row flush">
            <div class="col hide-on-small-only m5 group-col valign-wrapper">
                <div class="row">
                    <img src="{{ url_for('static', filename='images/group-dogs.gif') }}" alt="Gif of dog"
                        class="align-center col s12 m10 offset-m1">
                </div>
            </div>
            <div class="col s12 m7">
                <h3 class="align-center heading">Create Account</h3>
                <p>Please create a username for yourself, you will be able to add your dogs name in
                        a moment</p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="row flashes">
                    <h5 class="center-align col s12">{{ message }}</h5>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith%}
                <form method="POST" action="{{ url_for('register')}}">
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="username" class="validate" minlength="4"
                                maxlength="20" pattern="^(?=.*[A-Za-z])[a-zA-Z0-9/][^\s*]{4,20}$"
                                title="Your username can't include any blank spaces and must be between 4-20 characters, it may only contain letters and numbers"
                                required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12 ">
                            <input type="email" id="email" name="email" class="validate" title="Please fill in a valid email" required>
                            <label for="username">Email</label>
                        </div>
                    </div>
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate" minlength="5"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])([A-Za-z\d@$!%-_*#?&]{8,30})$"
                                maxlength="30" title="Passwords must be at least 8 characters long and include a mixture of
                                numbers, letters and one of the following special character - @$!%*_-#?&" autocomplete="current-password" required>
                            <label for="password">Password</label>

                        </div>
                    </div>

                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input id="repeat-password" type="password" name="repeat-password" class="validate"
                                minlength="8"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])([A-Za-z\d@$!%*-_#?&]{8,30}$"
                                maxlength="30" title="Passwords must be at least 8 characters long and include a mixture of
                                numbers, letters and one of the following special character - @$!%*_-#?&" required>
                            <label for="password">Repeat Password</label>

                        </div>
                    </div>
                    <div class="row flush input-div">
                        <p class="col s12"><small>Passwords must be at least 8 characters long and include a mixture of
                                numbers, letters and one of the following special character - @$!%*_-#?&</small></p>
                    </div>
                    <div class="row flush input-div">
                        <p class="col s12">By setting up an this account you agree to our <a
                                href="{{ url_for('safe_spaces')}}" target="_blank" aria-label="Safe Spaces opens in a new tab" class="links">Safe Spaces</a> and <a
                                href="{{ url_for('privacy_policy')}}" target="_blank" aria-label="Policy Privacy opens in a new tab" class="links">Privacy Policy</a>
                        </p>
                    </div>
                    <div class="row flush input-div">
                            <input type="checkbox" id="policy" name="policy" required />
                            <label for="policy" class="check-box">I agree to the Privacy and Safe Spaces Policy</label>
                    </div>
                    <div class="row">
                        <button type="submit" class=" btn-large btn-style btn-yellow align-center col s12 m7">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col s12 align-center "><a href="{{ url_for('login')}}" class="align-center">Already have an
                account?</a></p>
    </div>
</div>
{% endblock %}