{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class=" form-popout">
        <div class="row flush">
            <div class="col hide-on-small-only m5 space-dog valign-wrapper">
                <div class="row">
                    <img src="{{ url_for('static', filename='images/space-puppy.gif') }}"
                        alt="Gif of dog"
                        class="align-center col s12 m10 offset-m1">
                </div>
            </div>
            <div class="col s12 m7">
                <h3 class="align-center sub-heading">Reset Password</h3>
                <p class="align-center">Enter your email to be sent a link to reset your password</p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="flashes">
                                <p class="center-align">{{ message }}</p>
                            </div>
                        {% endfor %}
                {% endif %}
                {% endwith%}
                <form method="POST" action="{{ url_for('reset_password')}}">
                    <div class="row flush input-div">
                        <div class="input-field col s12">
                            <input type="email" id="email" name="email" class="validate" required>
                            <label for="email">Enter your email</label>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class=" btn-large btn-style btn-yellow align-center col s12 m7">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}